// transition
.bounce {
  &-enter-active {
    animation: bounce-in 0.5s;
  }

  &-leave-active {
    animation: bounce-in 0.5s reverse;
  }

  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }

    50% {
      transform: scale(1.05);
    }

    100% {
      transform: scale(1);
    }
  }
}

.slide-fade {
  &-enter {
    &-active {
      transition: all 0.3s ease-out;
    }

    &-from {
      transform: translateY(50px);
      opacity: 0;
    }
  }

  &-leave {
    &-active {
      transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
    }

    &-to {
      transform: translateY(50px);
      opacity: 0;
    }
  }
}

#slider {
  @mixin white-gradient {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }

  $animationSpeed: 15s;

  // Animation
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-250px * 8))
    }
  }


  // Styling
  .slider {
    background: white;
    // box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 150px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;


    &::before,
    &::after {
      @include white-gradient;
      content: "";
      height: 150px;
      position: absolute;
      width: 50px;
      z-index: 2;
    }

    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    &::before {
      left: 0;
      top: 0;
    }

    .slide-track {
      animation: scroll $animationSpeed linear infinite;
      display: flex;
      width: calc(250px * 9);

    }

    .slide {
      height: auto;
      width: 100%;
    }
  }

  .slide img:hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  .slide img {
    transition: 1s;
  }

}

#btnn {
  .btnn button {
    transition: .3s;
  }

  .btnn button:hover {
    transform: scale(1.1);
  }
}

#fade {

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.3s ease;
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }
}

#TextAnimation {
  h1 {
    // font-size: 2rem;
    font-weight: 500;

    span.typed-text {
      color: #d25b4b;
    }

    span.cursor {
      display: inline-block;
      margin-left: 3px;
      width: 4px;
      background-color: #d25b4b;
      animation: cursorBlink 1s infinite;
    }

    span.cursor.typing {
      animation: none;
    }
  }

  @keyframes cursorBlink {
    49% {
      background-color: #fff;
    }

    50% {
      background-color: transparent;
    }

    99% {
      background-color: transparent;
    }
  }
}

// Css
.btn-icon {
  border: none;
  background-color: transparent;
  font-size: 25px;
}